<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  <display-name>${projectName}</display-name>
  <context-param>
    <param-name>org.seasar.framework.container.configPath</param-name>
    <param-value>ymir.dicon</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
      org.seasar.extension.filter.EncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>${viewEncoding}</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>multipartRequestFilter</filter-name>
    <filter-class>org.seasar.ymir.servlet.MultipartRequestFilter</filter-class>
  </filter>
  <filter>
    <filter-name>pluggableFilter</filter-name>
    <filter-class>
      org.seasar.cms.pluggable.servlet.PluggableFilter
    </filter-class>
  </filter>
  <filter>
    <filter-name>hotdeployClassLoaderFilter</filter-name>
    <filter-class>
      org.seasar.cms.pluggable.servlet.HotdeployClassLoaderFilter
    </filter-class>
  </filter>
  <filter>
    <filter-name>ymirFilter</filter-name>
    <filter-class>org.seasar.ymir.servlet.YmirFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestLoggingFilter</filter-name>
    <filter-class>org.seasar.ymir.servlet.RequestLoggingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>multipartRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>pluggableFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>hotdeployClassLoaderFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ymirFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestLoggingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
      org.seasar.ymir.servlet.YmirListener
    </listener-class>
  </listener>
  <servlet>
    <servlet-name>zpt</servlet-name>
    <servlet-class>org.seasar.ymir.zpt.YmirFreyjaServlet</servlet-class>
    <init-param>
      <param-name>templateParser</param-name>
      <param-value>org.seasar.ymir.zpt.YmirTemplateParser</param-value>
    </init-param>
    <init-param>
      <param-name>tagEvaluator</param-name>
      <param-value>org.seasar.ymir.zpt.YmirTagEvaluator</param-value>
    </init-param>
    <init-param>
      <param-name>expressionEvaluator</param-name>
      <param-value>
        org.seasar.ymir.zpt.YmirTalesExpressionEvaluator
      </param-value>
    </init-param>
    <init-param>
      <param-name>tagRenderer</param-name>
      <param-value>org.seasar.ymir.zpt.YmirTagRenderer</param-value>
    </init-param>
    <init-param>
      <param-name>templateRoot</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>pageEncoding</param-name>
      <param-value>${viewEncoding}</param-value>
    </init-param>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>${viewEncoding}</param-value>
    </init-param>
    <init-param>
      <param-name>responseEncoding</param-name>
      <param-value>${viewEncoding}</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html; charset=${viewEncoding}</param-value>
    </init-param>
    <init-param>
      <param-name>transcriptVariablesToRequest</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>variableResolverFactory</param-name>
      <param-value></param-value>
    </init-param>
    <init-param>
      <param-name>useShiftJISInsteadOfWindows31J</param-name>
      <param-value><#if viewEncoding == "Windows-31J">true<#else>false</#if></param-value>
    </init-param>
    <init-param>
      <param-name>
        tagEvaluator.render.overwrite-content-type-meta-tag
      </param-name>
      <param-value><#if viewEncoding == "Windows-31J">true<#else>false</#if></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>zpt</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>__dummy__.html</welcome-file>
  </welcome-file-list>
</web-app>
