<?xml version="1.0"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>${projectName}</display-name>
  <context-param>
    <param-name>t2.encoding</param-name>
    <param-value>${viewEncoding}</param-value>
  </context-param>
  <filter>
    <filter-name>s2filter</filter-name>
    <filter-class>
      org.seasar.framework.container.filter.S2ContainerFilter
    </filter-class>
  </filter>
  <filter>
    <filter-name>t2</filter-name>
    <filter-class>org.t2framework.t2.filter.T2Filter</filter-class>
    <init-param>
      <param-name>t2.rootpackage</param-name>
      <param-value>${rootPackageName}.page</param-value>
    </init-param>
    <init-param>
      <param-name>t2.container.adapter</param-name>
      <param-value>
        org.t2framework.t2.adapter.Seasar2Adapter
      </param-value>
    </init-param>
    <init-param>
      <param-name>t2.eagerload</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>s2filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>t2</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <!--
      <dispatcher>INCLUDE</dispatcher>
      <dispatcher>ERROR</dispatcher>
    -->
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>${viewEncoding}</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <!-- trim white spaces (JSP 2.1 or higher)
        <trim-directive-whitespaces>true</trim-directive-whitespaces>
      -->
    </jsp-property-group>
  </jsp-config>

</web-app>