<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %5p %t [%C{1}#%M():%L] - %m %n" />
    </layout>
  </appender>
  <appender name="CONSOLE_INFO"
    class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %5p %t [%C{1}#%M():%L] - %m %n" />
    </layout>
  </appender>
  <logger
    name="org.seasar.cms.pluggable.aop.interceptors.TraceS2Interceptor"
    additivity="false">
    <!-- If you want to output detail of dependency injection by Seasar2,
         uncomment this line and comment a line below it out.
    <appender-ref ref="CONSOLE" />
    -->
    <appender-ref ref="CONSOLE_INFO" />
  </logger>
  <logger name="org.seasar.cms" additivity="false">
    <appender-ref ref="CONSOLE_INFO" />
  </logger>
  <logger name="org.seasar" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>
  <root>
    <level value="ALL" />
    <appender-ref ref="CONSOLE_INFO" />
  </root>
</log4j:configuration>
